.body-content {

    .home {
        text-decoration: none;
        font-size: 14px;
        color: #000;
        margin-right: 10px;
    }

    .home:hover {
        color: #4e4ffa;
    }

    .type {
        font-size: 16px;
        margin-left: 10px;
    }

    .img-BMW {
        width: 1370px;
        height: 308px;
        background: url(../../assets/images/img_BMW.webp) center center no-repeat;
    }

    .img-Bugatti {
        width: 1370px;
        height: 308px;
        background: url(../../assets/images/img_Bugatti.webp) center center no-repeat;
    }

    .img-Mercedes {
        width: 1370px;
        height: 308px;
        background: url(../../assets/images/img_Mercedes.webp) center center no-repeat;
    }

    .img-Rolls-Royce {
        width: 1370px;
        height: 308px;
        background: url(../../assets/images/img_Rolls-Royce.webp) center center no-repeat;
    }

    .img-Porsche {
        width: 1370px;
        height: 308px;
        background: url(../../assets/images/img_Porsche.webp) center center no-repeat;
    }

    .add-cart {
        background-color: #fff;
        color: #4e4ffa;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}