.home {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    margin-right: 10px;
}

.home:hover {
    color: #4e4ffa;
    font-size: 15px;
}

.type {
    font-size: 16px;
    margin-left: 10px;
}

.product-detail {

    .font-20 {
        font-size: 20px;
    }
}